/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/

.icon-chart {
    background-image: url(../img/sprites.png);
    background-position: 0px -54px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-chart_bar {
    background-image: url(../img/sprites.png);
    background-position: 0px -72px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-chart_line {
    background-image: url(../img/sprites.png);
    background-position: 0px -90px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-cross {
    background-image: url(../img/sprites.png);
    background-position: 0px -180px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-image {
    background-image: url(../img/sprites.png);
    background-position: 0px -252px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-json {
    background-image: url(../img/sprites.png);
    background-position: 0px -288px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-link {
    background-image: url(../img/sprites.png);
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-server {
    background-image: url(../img/sprites.png);
    background-position: 0px -342px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-shading {
    background-image: url(../img/sprites.png);
    background-position: 0px -360px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-star {
    background-image: url(../img/sprites.png);
    background-position: 0px -378px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-eye {
    height: 30px;
}

.icon-bolt {
    background-image: url(../img/sprites.png);
    background-position: 0px -594px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-add, .icon-save {
    height: 15px;
    vertical-align: bottom;
    padding-right: 5px;
}

.icon-arrow_refresh {
    height: 24px;
    vertical-align: middle;
}

.icon-bolt {
    background-image: url(../img/sprites.png);
    background-position: 0px -594px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-clock {
    background-image: url(../img/sprites.png);
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-cloud {
    background-image: url(../img/sprites.png);
    background-position: 0px -630px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-flame {
    background-image: url(../img/sprites.png);
    background-position: 0px -648px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-folder {
    background-image: url(../img/sprites.png);
    background-position: 0px -666px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-freq {
    background-image: url(../img/sprites.png);
    background-position: 0px -684px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-gauge {
    background-image: url(../img/sprites.png);
    background-position: 0px -702px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-house {
    background-image: url(../img/sprites.png);
    background-position: 0px -720px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-pipe {
    background-image: url(../img/sprites.png);
    background-position: 0px -738px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-propeller {
    background-image: url(../img/sprites.png);
    background-position: 0px -756px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-radioactivity {
    background-image: url(../img/sprites.png);
    background-position: 0px -774px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-rain {
    background-image: url(../img/sprites.png);
    background-position: 0px -792px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-sun {
    background-image: url(../img/sprites.png);
    background-position: 0px -810px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-thermometer {
    background-image: url(../img/sprites.png);
    background-position: 0px -828px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-user {
    background-image: url(../img/sprites.png);
    background-position: 0px -846px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-waterdrop {
    background-image: url(../img/sprites.png);
    background-position: 0px -864px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-wrench {
    background-image: url(../img/sprites.png);
    background-position: 0px -504px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-tick {
    background-image: url(../img/sprites.png);
    background-position: 0px -414px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-cross {
    background-image: url(../img/sprites.png);
    background-position: 0px -180px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-xml {
    background-image: url(../img/sprites.png);
    background-position: 0px -522px;
    width: 16px;
    height: 16px;
    display: inline-block;
}