html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: #F5F9FD;
}
#header-site{
    width: 100%;
    background-color: #3949AB;
    color: #fff;
    height: 50px;
    position: relative;
}
#header-titel{
    width: 300px;
    display: block;
    vertical-align: middle;
    height: 50px;
    position: absolute;
    left: 60px;
}
#header-titel-img{
    vertical-align: middle;
}
#header-title-text{
    line-height: 50px;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
#header-export{
    position: absolute;
    right: 60px;
    height: 50px;
}

#header-export-img{
    height: 25px;
    display: inline-block;
}

#header-export-select{
    width: 150px;
    display: inline-block;
}

#select-wrapper{
    background: url('../img/ic_dropdown.png') no-repeat 96% 0;
    background-size: 30px, 29px ;
    background-color: rgba(0, 0, 0, 0);
    height: 29px;
    overflow: hidden;
    width: 150px;
    background-color: #3F51B5;
    margin-top: 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#select-wrapper select#export {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    width: 170px;
    color: #fff;
    padding: 3px 7px;
    cursor: pointer;
}

select#export > option{
    background-color: #3F51B5;
}

section, dialog{
    position: relative;
    width: 97%;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    display: block;
    border-radius: 2px;
    border-color: #E2E2E2;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

dialog{
    display: none;
    position: fixed;
    top: 30%;
    padding: 0;
    border: none;
    width: 600px;
}

section:last-child{
    margin-bottom: 70px;
}

.title{
    font-size: 21px;
    color: #424242;
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
}

#controls{
    display: block;
    text-align: center;
}

button, input[type=submit]{
    padding: 6px 40px;
    background-color: #3949AB;
    color: #fff;
    text-transform: uppercase;
    border: none;
    margin: 5px;
    border-radius: 2px;
    vertical-align: middle;
}

button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus{
    background-color: #475AC9;
    cursor: pointer;
}

.icon-control{
    height: 24px;
}

.btn-icon{
    padding: 1px 40px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 30px;
    margin-left: 5px;
}

.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-top: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    filter: brightness(0.8);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-eye{
    height: 30px;
}

.icon-bolt {
    background-image: url(../img/sprites.png);
    background-position: 0px -594px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-add, .icon-save{
    height: 15px;
    vertical-align: bottom;
    padding-right: 5px;
}

.icon-arrow_refresh{
    height: 24px;
    vertical-align: middle;
}

.indicator > span {
    margin-right: 6px;
}

th{
    text-align: left;
}

.min, .max, .average, .last, .consumption, .cost, .total, .ops{
    text-align: right;
}

.toggle{
    width: 25px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
}
.icon-delete, .icon-information{
    height: 24px;
    vertical-align: middle;
}
.table > tbody > tr td, .table > thead > tr th {
    border-bottom: 1px solid #424242;
}

#btn_add, #btn_save{
    margin-top: 20px;
    margin-bottom: 15px;
}

#footer{
    position: fixed;
    display: block;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background: #3f51b5;
    line-height: 30px;
    color: #fff;
}

#overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
}

#footer > a{
    color: #fff;
}

.dialog{
    display: none;
}

.selected {
    background: #8db6fb;
}


.icon-bolt {
    background-image: url(../img/sprites.png);
    background-position: 0px -594px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-clock {
    background-image: url(../img/sprites.png);
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-cloud {
    background-image: url(../img/sprites.png);
    background-position: 0px -630px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-flame {
    background-image: url(../img/sprites.png);
    background-position: 0px -648px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-folder {
    background-image: url(../img/sprites.png);
    background-position: 0px -666px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-freq {
    background-image: url(../img/sprites.png);
    background-position: 0px -684px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-gauge {
    background-image: url(../img/sprites.png);
    background-position: 0px -702px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-house {
    background-image: url(../img/sprites.png);
    background-position: 0px -720px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-pipe {
    background-image: url(../img/sprites.png);
    background-position: 0px -738px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-propeller {
    background-image: url(../img/sprites.png);
    background-position: 0px -756px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-radioactivity {
    background-image: url(../img/sprites.png);
    background-position: 0px -774px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-rain {
    background-image: url(../img/sprites.png);
    background-position: 0px -792px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-sun {
    background-image: url(../img/sprites.png);
    background-position: 0px -810px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-thermometer {
    background-image: url(../img/sprites.png);
    background-position: 0px -828px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-user {
    background-image: url(../img/sprites.png);
    background-position: 0px -846px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-waterdrop {
    background-image: url(../img/sprites.png);
    background-position: 0px -864px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon-wrench {
    background-image: url(../img/sprites.png);
    background-position: 0px -504px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-tick {
    background-image: url(../img/sprites.png);
    background-position: 0px -414px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-cross {
    background-image: url(../img/sprites.png);
    background-position: 0px -180px;
    width: 16px;
    height: 16px;
}

#plot{
    position: relative;
}

.dialog-titlebar{
    background: #3f51b5;
    color: #fff;
    padding: 0 20px;
    vertical-align: middle;
    position: relative;
    height: 35px;
    line-height: 35px;
}

.dialog-content{
    padding: 0 20px;
}

.dialog-close{
    height: 24px;
    position: absolute;
    top: 16%;
    right: 20px;
}

.dialog-tab-close{
    height: 24px;
    position: absolute;
    top: 13%;
    right: 5px;
}

.dialog-tab{
    background: none;
    box-shadow: none;
}

.tablist > span{
    height: 30px;
    display: inline-block;
    line-height: 30px;
    width: 30%;
    background: #3f51b5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    color: #fff;
}

.tablist{
    position: relative;
    background: #3f51b5;
}

.tabs{
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.tablist > span:hover{
    background: #3949ab;
}

.tablist > span > a{
    color: #fff;
    text-decoration: none;
}

.tabcontent{
    padding: 10px;
}

.tabcontent > div > p{
    margin: 0;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

.tab-link:hover{
    cursor: pointer;
    background-color: #3949ab;
}

.tab-selected{
    background-color: #3949ab !important;
}

.textalignc{
    text-align: center;
}

.tabledetails{
    border-spacing: 0;
    margin: 5px;
    width: 100%;
}

.tabledetails > tbody > tr > td{
    border-bottom: 1px solid;
    height: 25px;
    padding-right: 20px;
}
.tabledetails > thead > tr > th{
    border-bottom: 2px solid;
    padding: 10px 0;
    padding-right: 18px;
}

.expander{
    width: 20px;
}

span.expander{
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    padding-left: 2px !important;
}

tr.collapsed.selected td .expander{
    background-image: url(../img/toggle-expand-light.png);
}

tr.collapsed td .expander{
    background-image: url(../img/toggle-expand-dark.png);
}
tr.expanded.selected td .expander {
    background-image: url(../img/toggle-collapse-light.png);
}

tr.expanded td .expander {
    background-image: url(../img/toggle-collapse-dark.png);
}

.ui-helper-hidden {
    display: none;
}

tr.optional{
    color: #4f4f4f;
}

.ui-slider-horizontal {
    height: 12px;
    border-radius: 15px;
    border: 1px solid #c5c5c5;
    position: relative;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 19px;
    height: 19px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: #3949ab;
    font-weight: normal;
    color: #454545;
    border-radius: 10px;
    top: -4px;
}

.ui-droppable-hover {
    background: #4489fd;
}

.legendColorBox div{
    height: 15px;
    width: 15px;
    margin-left: 2px;
}

#fullscreen{
    position: absolute;
    right: 0;
    top: 0;
}

#fullscreen img{
    height: 24px;
    transform: rotateY(180deg);
    width: 24px;
    margin: 5px;
}