<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="../lib/bootstrap.php">

  <testsuites>
    <testsuite name="Middleware">
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>

  <!-- exclude performance tests by default -->
    <groups>
      <exclude>
        <group>slow</group>
        <group>jpgraph</group>
      </exclude>
    </groups>

  <!-- configure code coverage -->
  <filter>
    <blacklist>
      <directory suffix=".php">../vendor</directory>
    </blacklist>
  </filter>

</phpunit>
