a {
	color: gray;
}

body {
	margin: 0;
	padding: 0;
}

#vz {
	margin: 150px auto;
	width: 800px;
	padding: 10px;
	-moz-border-radius: 10px;
	background-color: white;
	border: 1px solid black;
}

#move {
	width: 100%;
	text-align: center;
}