a {
	color: gray;
}

body {
	margin: 0;
	padding: 0;
}

#options {
	width: 165px;
	height: 450px;
	border: 1px solid #555555;
	background-color: white;
}

#Chart {
	border: 1px solid #555555;
	background-color: white;
	width: 800px;
	height: 450px;
	padding-left: 20px;
	padding-right: 20px;
	left: 165px;
	top: 0px;
	position: absolute;
	overflow: hidden;
}

.moveArrow {
	position: absolute;
	height: 100%;
	top: 0;
}

/* styles for jQuery-UI */
input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

div#users-contain {
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div#users-contain table td,div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}