[submodule "misc/controller/ethersex"]
	path = misc/controller/ethersex
	url = git://github.com/volkszaehler/ethersex.git
[submodule "misc/website"]
	path = misc/website
	url = git://github.com/volkszaehler/website.git
