language: php

php:
    - 5.6
    - 7.0
    - nightly
    - hhvm

services:
    - mysql
    - postgresql

# http://docs.travis-ci.com/user/migrating-from-legacy/
sudo: false

env:
  # run composer by default
  global:
    - DEPENDENCIES=standard
    - APC=true
    - TRAVIS_TEST_EXCLUDES="--exclude-group slow,jpgraph,pushserver"
  matrix:
    - DB=mysql
    - DB=pgsql
    - DB=sqlite

matrix:
  include:
    # httpd-based
    - php: 5.6
      env: DB=mysql TEST_COMPONENT=HTTPD
    # push-server
    - php: 5.6
      env: DB=mysql TEST_COMPONENT=PUSH_SERVER
    # from..to
    - php: 5.6
      env: DB=mysql DEPENDENCIES=lowest
    - php: 5.6
      env: DB=mysql DEPENDENCIES=highest
    # jslint-only
    - php: 5.6
      env: DB= DEPENDENCIES= JSLINT=true
    # security
    - php: 5.6
      env: DB= DEPENDENCIES= SECURITY=true
  # remove hhvm/pgsql
  exclude:
    - php: hhvm
      env: DB=pgsql
    - php: hhvm
      env: APC=true
  allow_failures:
    - php: nightly
    - php: hhvm

notifications:
    mail: "volkszaehler-dev@lists.volkszaehler.org"
    irc: "chat.freenode.net#volkszaehler.org"

# speedup build
cache:
  directories:
    - $COMPOSER_CACHE_DIR
    - $HOME/.composer/cache
    - node_modules

before_install:
    # disable xdebug for composer performance
    - if [ -e /home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then rm /home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini; fi

install:
    # set token if composer is used
    - if [ -n "$DEPENDENCIES" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi

    - if [ "$DEPENDENCIES" = "standard" ]; then composer install; fi
    - if [ "$DEPENDENCIES" = "lowest" ]; then composer update --prefer-lowest -n; fi
    - if [ "$DEPENDENCIES" = "highest" ]; then composer update -n; fi
    - if [ "$JSLINT" = true ]; then npm install; fi
    - if [ "$SECURITY" = true ]; then wget http://get.sensiolabs.org/security-checker.phar; fi
    - if [ "$TEST_COMPONENT" = "HTTPD" ]; then composer require volkszaehler/httpd:dev-master jenssegers/proxy:~2.2; fi

    # add apc cache
    - |
      if [ "$APC" = true ]; then
        phpenv config-add ./test/bin/apc.ini
        if php -r 'exit(version_compare(PHP_VERSION, "5.5", ">=")?0:1);'; then echo "no" | pecl install apcu-beta; fi
        if php -r 'exit(function_exists("apc_store")?0:1);'; then echo "APC enabled"; else echo "APC disabled"; fi
      fi

before_script:
    # enable shell errors
    - set -e
    - cp etc/volkszaehler.conf.template.php etc/volkszaehler.conf.php

    - DATABASE=travis
    - if [ ! "$DB" = "pgsql" ]; then USER=travis; else USER=postgres; fi
    - PASSWORD=

    # create config file
    - sed -i "s/'pdo_mysql'/'pdo_$DB'/" etc/volkszaehler.conf.php
    - sed -i "s/'vz'/'$USER'/" etc/volkszaehler.conf.php
    - sed -i "s/'demo'/'$PASSWORD'/" etc/volkszaehler.conf.php
    - sed -i "s/'volkszaehler'/'$DATABASE'/" etc/volkszaehler.conf.php
    - if [ "$DB" = "sqlite" ]; then sed -i "s/\?>/\$config['db']['path']\ =\ VZ_DIR.'\/sqlite.db3'\;\n?>/" etc/volkszaehler.conf.php; fi
    - cat etc/volkszaehler.conf.php

    # create database
    - if [ "$DB" = "mysql" ]; then mysql -e "create database $DATABASE;" -u $USER; fi
    - if [ "$DB" = "pgsql" ]; then psql -c "create database $DATABASE;" -U postgres; fi

    # create schema
    - if [ -n "$DB" ]; then php misc/tools/doctrine orm:schema-tool:create; fi

    # setup local middleware
    - |
      if [ "$TEST_COMPONENT" = "HTTPD" ]; then
        sed -i "s/testAdapter\" value=\".*\"/testAdapter\" value=\"$TEST_COMPONENT\"/" phpunit.xml
        vendor/bin/httpd.php start &
        HTTPD_PID=$!
        echo "Started httpd with pid $HTTPD_PID"
      fi

    # push server tests
    - if [ "$TEST_COMPONENT" = "PUSH_SERVER" ]; then sed -i "s/\?>/\$config['push']['enabled']\ =\ true\;\n?>/" etc/volkszaehler.conf.php; fi
    - if [ "$TEST_COMPONENT" = "PUSH_SERVER" ]; then
        php misc/tools/push-server.php &
      fi

after_script:
    - if [ "$TEST_COMPONENT" = "HTTPD" ]; then kill -9 $HTTPD_PID; fi

script:
    # run core tests
    - if [ -n "$DB" ]; then phpunit $TRAVIS_TEST_EXCLUDES,aggregation; fi

    # run aggregation tests (mysql only)
    - if [ "$DB" = "mysql" ]; then sed -i "s/\?>/\$config['aggregation']\ =\ true;\n?>/" etc/volkszaehler.conf.php; fi
    - |
      if [ "$DB" = "mysql" -a "$TEST_COMPONENT" = "HTTPD" ]; then
        kill -9 $HTTPD_PID
        sleep 10
        vendor/bin/httpd.php start &
        HTTPD_PID=$!
        echo "Started httpd with pid $HTTPD_PID"
      fi
    - if [ "$DB" = "mysql" ]; then phpunit $TRAVIS_TEST_EXCLUDES; fi

    # run aggregation tool itself (mysql only)
    - if [ "$DB" = "mysql" ]; then php misc/tools/aggregate.php run -m delta -l hour; fi

    # push server tests
    - if [ "$TEST_COMPONENT" = "PUSH_SERVER" ]; then phpunit --group pushserver; fi

    # jslint javascript sources
    - if [ "$JSLINT" = true ]; then gulp jshint; fi

    # check package security
    - if [ "$SECURITY" = true ]; then php security-checker.phar security:check composer.lock; fi
