body {
	margin: 0;
	padding: 0;
	background-color: #0292C0;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
}

tr th {
	border-bottom: 2px solid grey;
	
	text-align: left;
	font-size: 0.9em;
}

tr.optional {
  color: silver;
}

tr.property td {
	border-top: 1px solid #A7A7A7;
}

tr.entity td {
	border-top: 1px solid #A7A7A7;
}

#content {
	margin: 10px 10px 10px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#plot {
	position: relative;
	background-color: white;
}

#flot {
	height: 500px;
	z-index: 1;
	margin-bottom: 5px;
}

#overlay {
	position: absolute;
	width: 100%;
	top: 0;
	margin: 200px auto;
	text-align: center;
	color: grey;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	color: white;
	margin: 10px;
}

#content h3 {
	background-color: grey;
	padding: 4px;
	margin: 2px 0;
	color: white;
	cursor: pointer;
	font-size: 0.9em;
}

#controls {
	background-color: grey;
}

#content div {
	padding: 2px;
}

#controls button {
	width: 10.04%;
	height: 30px;
}

button {
	background-color: silver;
	border: 1px solid darkgrey;
	font-size: 1.1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* header */
#title {
	margin: 0.2em;
	float: left;
}

#export {
	float: right;
}

select.icons option {
	padding-left: 20px;
	background-repeat: no-repeat;
}

/* treeTable for entities */
#entity-list tbody span {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0.2em 0 0.2em 1.7em;
	margin: 0;
}

.indicator {
	height: 12px;
}

.inactive {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.dialog {
	display: none;
	padding: 10px;
}

.ops {
	text-align: right;
}

.visibility {
	width: 18px;
}

.expander {
	width: 20px;
}

/* dialogs */

.dialog select {
	width: 100%;
}

