body {
	margin: 0;
	padding: 0;
	background-color: #769AFF;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
}

tr th {
	border-bottom: 2px solid grey;
	
	text-align: left;
	font-size: 0.9em;
}

tr.property td {
	border-top: 1px solid #A7A7A7;
}

tr.entity td {
	border-top: 1px solid #A7A7A7;
}

#content {
	margin: 50px auto 20px;
	width: 93%;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#plot {
	position: relative;
}

#flot {
	height: 500px;
	z-index: 1;
}

#overlay {
	position: absolute;
	width: 100%;
	top: 0;
	margin: 200px auto;
	text-align: center;
	color: grey;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	color: white;
	margin: 10px;
}

#accordion {
	margin-top: 10px;
	background-color: lightgrey;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#accordion h3 {
	background-color: grey;
	padding: 4px;
	margin: 2px 0;
	color: white;
	cursor: pointer;
	font-size: 0.9em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#accordion div {
	padding: 4px;
}

#controls {
	margin: 0;
}

#controls button {
	width: 10%;
	height: 28px;
}

#headline {
	margin-bottom: 15px;
}

#title {
	margin: 0.2em;
	float: left;
}

#links {
	float: right;
}

/* treeTable for entities */
#entity-list tbody span {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0.2em 0 0.2em 1.7em;
	margin: 0;
}

.indicator {
	height: 12px;
}

.inactive {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.dialog {
	display: none;
	padding: 10px;
}

.ops {
	text-align: right;
}

.visibility {
	width: 18px;
}

.expander {
	width: 20px;
}
