body {
	margin: 0;
	padding: 0;
	background-color: #0292C0;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
}

tr th {
	border-bottom: 2px solid grey;

	text-align: left;
	font-size: 0.9em;
}

tr.optional {
  color: grey;
}

tr.property td, tr.entity td {
	border-top: 1px solid #A7A7A7;
}

#content {
	margin: 10px 10px 10px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#content div {
	padding: 2px;
}

#content h3 {
	background-color: grey;
	padding: 4px;
	margin: 2px 0;
	color: white;
	cursor: pointer;
	font-size: 0.9em;
}

#plot {
	position: relative;
	background-color: white;
}

.legend table {
	width: auto;
}

.axisLabels { /* if axislabels plugin is used */
	font-size: smaller;
	color: #545454;
}

#flot {
	height: 500px;
	z-index: 1;
	margin-bottom: 5px;
}

#overlay {
	position: absolute;
	width: 100%;
	top: 0;
	margin: 200px auto;
	text-align: center;
	color: grey;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	color: white;
	margin: 10px;
}

#controls {
	background-color: grey;
	margin-right: 0px; /* override jquery ui */
}

#controls button {
	width: 10.0%;
	height: 30px;
}

button {
	background-color: silver;
	border: 1px solid darkgrey;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* header */
#title {
	margin: 0.2em;
	float: left;
}

#export {
	float: right;
}

select.icons option {
	padding-left: 20px;
	background-repeat: no-repeat;
}

/* treeTable for entities */
#entity-list tbody img {
	margin: 0.2em 0.4em 0 0; /* sprite image margin */
	vertical-align: top;
}

#entity-list tbody span {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 0 0.2em 0; /* 0.2em 0 0.2em 1.7em if not using sprite images */
	margin: 0;
}

.indicator {
	height: 12px;
}

.ops, .min, .max, .average, .last, .consumption, .total, .cost {
	text-align: right;
}

.visibility {
	width: 18px;
}

.expander {
	width: 20px;
}

/* dialogs */

.dialog {
	display: none;
	padding: 10px;
}

.dialog select {
	width: 100%;
}


/* jQuery UI customizations */
input.ui-button {
	padding: 0.1em 0.5em;
}

.ui-button-text-only .ui-button-text {
	padding: 0.1em 0.5em;
}

#entity-add.ui-dialog-content {
	padding: 0.3em 0 0;
}

.ui-tabs .ui-tabs-nav li a {
  padding: 0.1em 0.5em !important;
}

.ui-error .ui-widget-header { /* red header */
	background-image: url("../vendor/jquery-ui/images/ui-bg_gloss-wave_35_red_500x100.png");
}


/* jQuery TreeTable Core 2.0 stylesheet
 *
 * This file contains styles that are used to display the tree table. Each tree
 * table is assigned the +treeTable+ class.
 * ========================================================================= */

/* jquery.treeTable.collapsible
 * ------------------------------------------------------------------------- */
.treeTable tr td .expander {
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  zoom: 1; /* IE7 Hack */
}

.treeTable tr.collapsed td .expander {
  background-image: url(../images/toggle-expand-dark.png);
}

.treeTable tr.expanded td .expander {
  background-image: url(../images/toggle-collapse-dark.png);
}

/* jquery.treeTable.sortable
 * ------------------------------------------------------------------------- */
.treeTable tr.selected, .treeTable tr.accept {
  background-color: #3875d7;
  color: #fff;
}

.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
  background-image: url(../images/toggle-expand-light.png);
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
  background-image: url(../images/toggle-collapse-light.png);
}

.treeTable .ui-draggable-dragging {
  color: #000;
  z-index: 1;
}
