body {
	margin: 0;
	padding: 0;
	background-color: #9ACC67;
	font-family: sans-serif;
}

#vz {
	margin: 150px auto;
	width: 800px;
	padding: 10px;
	-moz-border-radius: 10px;
	background-color: white;
	border: 1px solid black;
}

#move {
	width: 100%;
	text-align: center;
	margin: 5px;
}

#accordion h3 {
	background-color: lightgrey;
	padding: 4px;
	margin: 2px;
	-moz-border-radius: 4px;
	font-size: 0.9em;
}