body {
	margin: 0;
	padding: 0;
	background-color: #769AFF;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
}

thead tr th {
	border-bottom: 2px solid grey;
	
	text-align: left;
	font-size: 0.9em;
}

tbody tr td {
	border-bottom: 1px solid #A7A7A7;
}

#content {
	margin: 50px auto 20px;
	width: 800px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#plot {
	height: 400px;
}

#footer {
	text-align: center;
	font-size: 0.7em;
	color: white;
	margin: 10px;
}

#move {
	width: 100%;
	text-align: center;
	margin: 5px;
}

#move td {
	border: 0;
}

#accordion {
	background-color: lightgrey;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#accordion h3 {
	background-color: grey;
	padding: 4px;
	margin: 2px 0px;
	color: white;
	cursor: pointer;
	font-size: 0.9em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#accordion div {
	padding: 5px;
}

/* treeTable for entities */
#entities tbody span {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0.2em 0 0.2em 1.7em;
	margin: 0;
}

#entities tbody span.channel {
	background-image: url("../images/chart_curve.png");
}

#entities tbody span.group {
	background-image: url("../images/folder.png");
}

#addEntity {
	margin-top: 10px;
}

.indicator {
	height: 12px;
}

.inactive {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.slider {
	width: 170px;
	height: 4px;
}

.dialog {
	display: none;
}

.ops {
	text-align: right;
}

.visibility {
	width: 18px;
}

.expander {
	width: 20px;
}

.plotcenter {
	display: block;
	margin: auto;
	padding-top: 150px;
	text-align: center;
	color: grey;
}

/* additional theming for user interface */
.ui-error .ui-widget-header {
	background-image: url("../images/ui-bg_gloss-wave_35_red_500x100.png");
}
