Source: vzlogger
Section: net
Priority: optional
Maintainer: Steffen Vogel <info@steffenvogel.de>
Build-Depends: debhelper (>= 7.0.50~), pkg-config (>= 0.25), libjson0-dev (>= 0.9), libcurl4-openssl-dev (>= 7.21.0)
Standards-Version: 3.9.1
Homepage: http://wiki.volkszaehler.org/software/controller/vzlogger
Vcs-Git: git://github.com/volkszaehler/volkszaehler.org.git
Vcs-Browser: http://github.com/volkszaehler/volkszaehler.org/tree/master/misc/controller/vzlogger/

Package: vzlogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: program for logging measurements to an volkszaehler.org middelware
 vzlogger...
  * is a tiny shell tool to log measurements of a wide variety of
    smartmeters, sensors & protocols against the volkszaehler.org middleware.
  * can run as a daemon or can be invoked periodically by cron.
  * includes a tiny onboard httpd to serve
    realtime readings to the ajax web frontend.
  * is written in pure ansi c and should run on most embedded devices.
